
body{
	background-color:#bec2c2;
	color:#474F49;
	width: 700px;
	height: 538px;
	
}
	
.nav-bar{
	display: flex;
	background-color:#6e7970;
	width: 100%;
}

.landing-img{
	padding-left:110px;
	padding-top: 20px;
	}

.text{
	text-aligment: center;
	width: 550px;
	padding-left: 20px;
	
}
section{
	background-color: white;
	padding-bottom: 10px;
	width: 570px;
	margin-left:600px;
}
